Source: curecoin
Section: base
Priority: optional
Maintainer: Joshua Smith <info@curecoin.net>
Build-Depends: debhelper-compat (= 13), qtbase5-dev, qt5-qmake, libboost-all-dev, libssl-dev, libdb++-dev, libminiupnpc-dev, zlib1g-dev

Package: curecoin
Architecture: amd64
Version: VERSION_HERE
Depends: FINAL_DEPENDS
Description: CureCoin Wallet and Headless Daemon
 A distributed research network and cryptographic reward protocol.